.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(bg-2.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-grey);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 4rem 5rem;
    font-family: var(--font-secondary);

    h1 {
      font-size: 128px;
      line-height: 0.9;
      text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }
    span {
      font-size: calc(var(--font-h3) + 2px);
      line-height: 0;
      text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }

    .input-field {
      width: 100%;
      max-width: 250px;
      padding: 1rem 1.5rem;
      margin: 2.5px 0;
      font-size: var(--font-h5);
      color: #333;
      background-color: #f9f9f9;
      border: 2px solid #000;
      border-radius: 5px;
      box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }
    
    .input-field:focus {
      border-color: #21295c;
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
    
    .input-field::placeholder {
      color: #999;
      font-style: italic;
    }
    

    .login-button {
      width: 250px;
      font-size: var(--font-h3);
      font-family: var(--font-secondary);
      border-bottom-left-radius: 64px;
      border-bottom-right-radius: 64px;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        scale: 1.01;
      }
    }
  }
}