.sidebar-container {
  height: 80vh;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--clr-light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2.5rem 5rem;

  .sidebar-box {
    height: 100%;
    width: 100%;

    .profile-container {
      height: 150px;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 2rem;

      .profile-image {
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
    .profile-name {
      h3 {
        margin-top: 1rem;
        text-align: center;
      }
      p {
        text-align: center;
        color: var(--clr-dark);
        font-weight: bold;
      }
    }

    .sidebar-items {
      margin-top: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      font-size: var(--font-h5);
      font-weight: bold;
      font-family: var(--font-secondary);
      gap: 2rem;

      .sidebar-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 1rem;
        gap: 1rem;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: var(--clr-primary);
          color: var(--clr-light);
          scale: 1.01;
          transition: 0.3s ease-in-out; 
        }
      }

      .logout-button {
        display: inline-flex;
        padding: 1rem;
        border-radius: 1rem; 
        font-family: var(--font-secondary);
        font-size: var(--font-h6);
        color: var(--clr-light);
        text-align: start;
        border: none;
        background-color: rgb(253, 69, 69);
        transition: 0.3s;

        &:hover {
          scale: 1.01
        }
        
        .logout-icon {
          margin-right: 1rem;
          font-size: var(--font-h3);
          color: var(--clr-light)

        }
      }
    }
  }
}
